<template>
<div class="form-check">
  <label class="form-check-label css-input css-checkbox css-checkbox-primary">
    <div style="float:left;"><input type="checkbox" v-model="selected"><span></span></div><div style="padding-left:30px;">{{ insertLabel }} <small class="text-muted" v-if="optional">(opcjonalnie)</small></div> </label>
        <small class="form-text text-muted">{{ desc }}</small>
</div>
</template>
<script>

export default {

  props: {
    insertLabel:{},
    insertDesc:{},
    optional:{
      default:false
    }
  },
  data: function() {
        return {
          selected:'',
          desc: this.insertDesc,
        }
    },
  watch: {
    selected: function(value) {
    
        this.$emit('checkboxEmit', value)
    }
  }
}

</script>