<template>
<div>
 <div class="form-group row push">
<label class="col-sm-2 col-form-label text-right nopadding">{{ insertLabel }} <small class="text-muted" v-if="optional">(opcjonalnie)</small>

 <small class="form-text text-muted">{{ insertDesc }}</small>
</label>
<div class="col-sm-10">

 <datetime v-model="date" type="datetime" class="theme-red"></datetime>

</div>
</div></div>
</template>
<script>
import { Datetime } from 'vue-datetime';

export default {
	props: {
		insertLabel:{},
		insertDesc:{
			default:''
		},
		optional:{
			default:false
		}
		},
	components: {
		Datetime
	},
data: function () {
  return {
  	date:'',
  }
	}
}

</script>
<style>
.theme-red .vdatetime-popup {
	margin-top:120px;
}
.theme-red .vdatetime-popup__header,
.theme-red .vdatetime-calendar__month__day--selected > span > span,
.theme-red .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #AB1E22;
}

.theme-red input {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.theme-red .vdatetime-year-picker__item--selected,
.theme-red .vdatetime-time-picker__item--selected,
.theme-red .vdatetime-popup__actions__button {
  color: #AB1E22;
}
</style>