<template>
	<div class="search-input">
        <input class="search" v-bind:placeholder="placeholder" v-model="query">
    <b-btn class="btn-red btn-search"><icon name="search"></icon></b-btn>
       
    </div>
</template>
<script>
import Icon from "vue-awesome/components/Icon";
export default {
	data() {
		return {
		query: ''
		}
	},
	components: {
		Icon
	},
	props: ['placeholder'],
	watch: {
		query: function(val) {
			this.$emit('query', val)
		}
	}
}

</script>
