<template>
<div>
	<div class="row regon-area">
		<div class="col-md-12 border-bottom">
			<div class="row">
				<div class="col-md-12">
				</div>



				<table class="table table-striped table-bordered table-hover history">
					<thead>
						<tr>
							<th>Źródło</th>
							<th>Data</th>
							<th>Typ zdarzenia</th>
							<th>Administrator</th>
							<th>Inspektor Ochrony Danych</th>
							<th>Pełnomocnik</th>
							<th>Komórka organizacyjna i nr sprawy</th>
							<th style='width:16px; padding:0'></th>
						</tr>
					</thead>
					<tbody>
						
						<tr v-for="(item, index) in history">
							<td>
									<a title="zobacz oryginalne pismo" class="btn-ezd btn btn-dark" href="#">
								EZD<br>
								<small>RPW/123456/2018</small>
							</a>
							</td>
							<td>
								{{item.data}}<br>
								{{item.godzina}}
							</td>
							</td>
							<td>
								{{item.typ}}
							</td>
							<td>
								<label>Nazwa:</label> {{item.nazwa}} <br>
								<label>Adres:</label> {{item.adres}} <br>
							</td>
							<td>
								<label>Imię:</label> {{item.imie}}<br>
								<label>Nazwisko:</label> {{item.nazwisko}}<br>
								<label>E-mail:</label> {{item.email}}<br>
								<label>Telefon:</label> {{item.telefon}}<br>
							</td>
							<td class="text-center">
						 
								<a href="#" v-if="item.pelnomocnik" class="btn btn-dark nomargin"><icon name="file-text"></icon></a>
							 
							</td>
							<td>
								<small>{ numer sprawy }</small>
							</td>
					
						</tr>

			


					</tbody>
				</table>
				
			</div>
		</div>
	</div>
</div>
</template>

<script>

import Icon from 'vue-awesome/components/Icon'
export default {
	data() {
		return {
			history: [
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie zmiany danych kontaktowych IOD',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': true

			},
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie zmiany danych ADO',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': false

			},
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie nowego IOD',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': true

			},
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie odwołania IOD',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': true

			},
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie odwołania IOD ',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': true

			},
			{
				'zrodlo': 'EZD',
				'data': '22-02-2018',
				'godzina': '12:45',
				'typ': 'Zgloszenie zmiany danych kontaktowych IOD',
				'nazwa': 'Biuro Generalnego Inspektora Ochrony Danych Osobowych ',
				'adres': 'ul. Stawki 2, 00-193 Warszawa ',
				'imie': 'Agata',
				'nazwisko': 'Czerska',
				'email': 'a_czerska@giodo.gov.pl',
				'telefon': '+48 745 432 234',
				'pelnomocnik': true

			},
			]
		}
	},
	props: ['regon'],
	components: {
		Icon
	},
	watch: {
		   regon: function(value) {
		   	console.log(value);
		   		this.gethistory(value);
		   }
	},
	methods: {
		gethistory(regon) {
      		this.axios.get('http://systemiod/administrator/historia/'+regon)
           		.then(response => {
           			console.log(response)
					this.history = response.data;
        	})
        	.catch(error => {
        	    	console.log(error.response.data);
			});
		}
	},
	mounted() {

	}
}


</script>