<template>
<div>
	<b-modal  v-model="modalShow" id="modallg" hide-footer size="lg" title="Karta administratora">
	<div class="row border-bottom">
		<div class="col-md-6 modal-administrator">
			Administrator <small>(id w bazie: {{data.id}})</small>

<!-- 			<b-btn
			variant="dark"
		v-bind:class="{'btn-red': current == 'history'}"
			v-on:click="showHistory"
			class="float-right">
			Historia zmian
			</b-btn> -->

	



		</div>
		<div class="col-md-6 modal-inspektor">
		Inspektor Ochrony Danych

<b-btn v-b-toggle.grupa variant="dark" class="float-right nomargin"> Zgłoszony w ramach grupy przedsiębiorstw <icon name="sort-down"></icon></b-btn>

	<b-btn 
		
			variant="dark"  class="float-right" style="margin-bottom:0">Dodaj sprawę</b-btn>


	</div>



		<div class="col-md-6 border-right">
			<div class="row border-bottom">
				<label for="staticEmail" class="col-sm-4 col-form-label">Pełna nazwa</label>
				<div class="col-sm-8 col-form-label">
					{{ data.nazwa }}
				</div>
			</div>
			<div class="row border-bottom">
				<label for="inputPassword" class="col-sm-4 col-form-label">Adres</label>
				<div class="col-sm-8 col-form-label">
					{{ data.ul }},<br>
					{{ data.kod_pocztowy }} {{ data.miejscowosc }}
				</div>
			</div>
			<div class="row border-bottom">
				<label for="inputPassword" class="col-sm-4 col-form-label">REGON</label>
				<div class="col-sm-8 col-form-label">
					{{ data.regon }}
				</div>
			</div>
			<div class="row">
				<label for="inputPassword" class="col-sm-4 col-form-label">Pełnomocnik</label>
				<div class="col-sm-8 col-form-label">
			 
						<a class="pelnomocnictwo btn btn-dark" href="#"><icon name="file-text"></icon> pełnomocnictwo</a>
			 
				</div>
			</div>
		</div>
		<div class="col-md-6">



			<div class="row border-bottom">
				<label for="staticEmail" class="col-sm-4 col-form-label">Imię</label>
				<div class="col-sm-8 col-form-label">
					{{ data.imie }}
				</div>
			</div>
			<div class="row border-bottom">
				<label for="inputPassword" class="col-sm-4 col-form-label">Nazwisko</label>
				<div class="col-sm-8 col-form-label">
					{{ data.nazwisko }}
				</div>
			</div>
			<div class="row border-bottom">
				<label for="inputPassword" class="col-sm-4 col-form-label">Adres e-mail</label>
				<div class="col-sm-8 col-form-label">
					{{ data.email }}
				</div>
			</div>
			<div class="row">
				<label for="inputPassword" class="col-sm-4 col-form-label">Telefon</label>
				<div class="col-sm-8 col-form-label">
					{{ data.telefon }}
				</div>
			</div>

<b-collapse id="grupa" class="row">
<table class="table table-striped table-bordered">
<thead>
<th class="dark text-left">
Nazwa innego administratora
</th>
<th class="dark text-left">
Adres
</th>
</thead>
<tbody>


<tr>
<td>
Firma XYZ
</td>
<td>
	Adres
	</td>
</tr>
	<tr>
<td>
Firma XYZ
</td>
<td>
	Adres
	</td>
</tr>
<tr>
<td>
Firma XYZ
</td>
<td>
	Adres
	</td>
</tr>
</tbody>
</table>
  
  </b-collapse>



		</div>
	</div>
	<transition name="slide">
		<component :is="current" :regon="reg"></component>
	</transition>
	</b-modal>
</div>
</template>
<script>
import History from './history'
import Icon from 'vue-awesome/components/Icon'

export default {
	data() {
		return {
			current: "history",
			modalShow: this.show,
			reg: this.data.regon
		}
	},
	props: ['data', 'show'],
	components: {
		History,
		Icon
	},
	watch: {
		show(value) {
			this.modalShow = value;
		},
		modalShow(value) {
			this.$emit('modalShow', value)
		}
	},
	methods: {
		showHistory() {
			this.current = 'history'
		}
	}
}
</script>
 