<template>
    <b-modal id="modal1" title="Dodatkowe filtry">
    <p class="my-4">

<checkbox insert-label="Uwzględnij administratorów, którzy odwołali IOD"/></p>
    Przedział czasowy:
    <div class="row">
    	<div class="col-md-6">
    <poledata
      insert-label="Od:"
      />
  </div>
<div class="col-md-6">
    <poledata
      insert-label="Do:"
      />
  </div> </div>
  </b-modal>
</template>
<script>

import checkbox from '@/partials/inputs/checkbox'
import poledata from '@/partials/inputs/data'

export default {
	components: {
		checkbox, poledata
	}
}
</script>