<template>
<div>



    <div class="card-header" id="card-header">   
        <div class="no-padding">
    <h2>Podręcznik użytkownika</h2>
   

</div>
</div>


  <div class="maintable card-block no-padding">
        <div class="card-block">

          <div class="table-responsive">
       <b-card title="Tabela wg administratora">
        <p class="card-text">
			<strong>Tabele domyślnie wyświetlają administratorów, którzy mają powołanych Inspektorów Ochrony Danych</strong> (w oparciu o zawiadomienia, które spływają z formularzy ePUAP do EZD). By móc wziąć pod uwagę administratorów, którzy odwołali i nie powołali na to stanowisko nowej osoby, należy z menu "dodatkowe filtry" wybrać opcję "uwzględnij administratorów, którzy odwołali IOD". Przy takim administratorze będzie widniała ikona:</p>
         <div class="inspektor_odwolany" ><icon name="user-times"></icon></div>



      
    </b-card>


       <b-card title="Tabela wg inspektorów">
        <p class="card-text">
      <strong>Tabele wg inspektorów wyświetlana jest w oparciu o informacje podane przez administratora zgłaszającego IOD</strong> (pole w formularzu zgłoszeniowym: '<i>zgłaszam inspektora w ramach grupy przedsiębiorstw</i>'). Należy mieć na uwadze, że pole to w formularzu zgłoszeniowym nie jest obowiązkowe więc może zaistnieć sytuacja, że administrator zgłasza IOD w ramach grupy przedsiębiorstw jednak nie zaznacza tego pola w formularzu. W związku z tym system dodatkowo porównuje imię, nazwisko oraz dane kontaktowe poszczególnych IOD i w przypadku powielania się np. imienia i nazwiska, system przypisuje tą samą osobę do wielu administratorów. W związku z powyższym do widoku "Tabela wg inspektorów" należy podchodzić z dystansem i mieć na uwadze, że system może w tej tabeli błędnie przypisać ADO do IOD (np. w sytuacji kiedy dwóch różnych ADO ma dwóch różnych IOD jednak o tym samym imieniu i nazwisku). Bazowym źródłem informacji powinien być widok "Tabela wg administratorów".</p>
     
      
    </b-card>


       <b-card title="Historia zmian">
        <p class="card-text">
			Historia zmian danego administratora jest prowadzona w oparciu o zawiadomienia spływające z formularzy ePUAP do EZD i przypisywane są do podmiotu w oparciu o nr REGON.
        </p>

    </b-card>

    <b-card title="Błędy">
<p class="card-text">
 W przypadku nie podania przez administratora numeru REGON, zawiadomienie to jest oznaczane jako błąd i wyświetlane jest w menu "Błędy". Upoważniony pracownik UODO powinien przypisać dane zgłoszenie do istniejącego podmiotu bądź na jego podstawie utworzyć nowy wpis. 
</p>

    </b-card>


           <b-card title="Notatki">
        <p class="card-text">
			Notatki umożlwiają pracownikom UODO sporządzenie, krótkiej informacji przypisanej do administratora.
        </p>
     
    </b-card>

          </div>
        </div>

  </div>
  </div>

  

</template>
<script>
import Icon from "vue-awesome/components/Icon";
export default {
	components: {
		Icon
	}
}
</script>
