<template>
<div>



    <div class="card-header" id="card-header">   
        <div class="no-padding">
                     
  <h2>  <icon name="exclamation-triangle"></icon>  Lista zawiadomień, w których nie podano numeru REGON, należy ręcznie przypisać zgłoszone informacje.</h2>
 
</div>
</div>



 


  <div class="maintable card-block no-padding">
        <div class="card-block">
   <!--        <kontakt/> -->
          <div class="table-responsive">
            <div class="thtable">
              <table class="table b-table table-striped table-hover">
                <thead class="noselect">
                  <tr>
                    <th></th>
                    <th
                      style="background:#575757;"
                      class="text-center"
                      colspan="3">
                      Administrator
                    </th>
                    <th colspan="3"
                      class="text-center">
                      Inspektor
                    </th>
                      <th style='width:16px; padding:0'></th>
                    <!-- <th class="text-center" style="background:#575757;" ></th>   -->
                  </tr>
                  <tr>
                    <th rowspan="2" class="text-center">Lp</th>
                    <th class="require"><div>Pełna nazwa</div><sortButtons/></th>
                    <th class="require"><div>Adres</div><sortButtons/></th>
                    <th class="require regon"><div>REGON</div><sortButtons/></th>
                    <th class="require"><div>Imię i nazwisko</div><sortButtons/></th>
                    <th class="require"><div>Adres e-mail</div><sortButtons/></th>
                    <th class="require telefon"><div>Numer telefonu</div><sortButtons/></th>
                      <th class="require" style='width:16px; padding:0'></th>
                    <!-- <th class="require"></th> -->
                  </tr>
             <tr class="search-inputs">
                    <th><search :placeholder="'Filtruj wg nazwy'"/></th>
                    <th><search :placeholder="'Filtruj wg adresu'"/></th>
                    <th><search :placeholder="'Filtruj wg REGON'"/></th>
                    <th><search :placeholder="'Filtruj wg imienia i nazwiska'"/></th>
                    <th><search :placeholder="'Filtruj wg adresu e-mail'"/></th>
                    <th><search :placeholder="'Filtruj wg numeru telefonu'" class="telefon"/></th>
                    <th style='width:16px; padding:0'></th>
                    <!-- <th class="require"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="loading" style="height:78vh">
                          <td class="dark"></td>
                    <td colspan="6">
                      <spinner/>
                    </td>
                  </tr>
                  <tr v-if="!loading" @click="changeid(item)"  v-for="(item, index) in items">
                    <td class="dark">{{ index + 1 }}</td>
                    <td>{{ item.nazwa }}</td>
                    <td>ul. {{ item.ul }}, <br>{{ item.kod_pocztowy }} {{ item.miejscowosc }} </td>
                    <td>{{ item.regon }}</td>
                    <td>{{ item.imie }} {{ item.nazwisko }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.telefon }}</td>
                    <!--  <td>
                      <b-button-group  size="sm">
                      <b-btn v-b-modal.modallg  variant="primary"><icon name="eye"></icon></b-btn>
                      <b-btn v-b-modal.modal1  variant="warning"><icon name="edit"></icon></b-btn>
                      <b-btn v-b-modal.modal1  variant="red"><icon name="trash"></icon></b-btn>
                      </b-button-group>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

  </div>
  </div>

  

</template>
<script>
import Icon from "vue-awesome/components/Icon";
export default {
    components: {
        Icon
    }
}
</script>
