<template>
<div>
    <div class="card-header" id="card-header">   
        <div class="no-padding">
            <div class="search-input">
                <div class="search-icon">
                    <icon name="search"></icon>
                </div>
                <input class="search" placeholder="SZUKAJ">
            </div>
            <b-btn v-b-toggle.collapseA class="btn-red"><icon name="filter"></icon> filtruj</b-btn>
            <b-btn v-b-toggle.collapseA class="btn-red btn-search"><icon name="caret-right"></icon> wyszukaj</b-btn>
  <div class="pagination noselect">
    <pagination :total="total" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions" nav-class="padding-10" ul-class="bg-color-red" li-class="txt-color-blue">
    </pagination>
  </div>
</div>
</div>
  <div class="przetwarzajacy card-block no-padding">
        <div class="card-block">
 
          <div class="table-responsive">
            <div class="thtable">
              <table class="table b-table table-striped table-hover">
                <thead class="noselect">
                  <tr>
                    <th></th>
                      <th colspan="3"
                      class="text-center">
                      Inspektor
                    </th>
                    <th
                      style="background:#575757;"
                      class="text-center"
                      colspan="3">
                      Administrator
                    </th>
                  
                    <!-- <th class="text-center" style="background:#575757;" ></th>   -->
                  </tr>
                  <tr>
                    <th rowspan="2" class="text-center">Lp.</th>
                    <th class="require"><div>Imię i nazwisko</div><sortButtons/></th>
                    <th class="require"><div>Adres e-mail</div><sortButtons/></th>
                    <th class="require telefon"><div>Numer telefonu</div><sortButtons/></th>
                    <th class="require"><div>Pełna nazwa</div><sortButtons/></th>
                    <th class="require"><div>Adres</div><sortButtons/></th>
                    <th class="require regon"><div>REGON</div><sortButtons/></th>

                    <!-- <th class="require"></th> -->
                  </tr>
             <tr class="search-inputs">
                    <th><search/></th>
                    <th><search/></th>
                    <th><search class="regon"/></th>
                    <th><search/></th>
                    <th><search/></th>
                    <th><search class="telefon"/></th>
                    <!-- <th class="require"></th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="!loading" style="height:78vh">
                          <td class="dark"></td>
                    <td colspan="6">
                      <h2 style="text-align:center; width:100%">W budowie</h2>
                      <!-- <spinner/> -->
                    </td>
                  </tr>
                  <tr v-if="loading" @click="changeid(item)"  v-for="(item, index) in items">
                    <td class="dark">{{ index + 1 }}</td>
                    <td>{{ item.nazwa }}</td>
                    <td>ul. {{ item.ul }}, <br>{{ item.kod_pocztowy }} {{ item.miejscowosc }} </td>
                    <td>{{ item.regon }}</td>
                    <td>{{ item.imie }} {{ item.nazwisko }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.telefon }}</td>
                    <!--  <td>
                      <b-button-group  size="sm">
                      <b-btn v-b-modal.modallg  variant="primary"><icon name="eye"></icon></b-btn>
                      <b-btn v-b-modal.modal1  variant="warning"><icon name="edit"></icon></b-btn>
                      <b-btn v-b-modal.modal1  variant="red"><icon name="trash"></icon></b-btn>
                      </b-button-group>
                    </td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

  </div>
  <modal :data="modal_data" :show="modal_show" @modalShow ="modal_show = $event"/>
  
</div>
</div>
</template>
 <script>
import Vuetable from "vuetable-2/src/components/Vuetable";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import Icon from "vue-awesome/components/Icon";

import Modal from "../components/modal";
import Spinner from "../partials/spinner";
import sortButtons from "../partials/sortbuttons";
import Search from "../partials/inputs/search";
import Pagination from "vue-pagination-bootstrap";

export default {
  data() {
    return {
      loading: false,
      total: 0,
      pageSize: 50,
      paginationOptions: {
        // Not required to pass this configurations
        offset: 2,
        previousText: "Wstecz",
        nextText: "Dalej",
        alwaysShowPrevNext: true
      },
      modal_data: 0,
      modal_show: false,
      current: "regon",
      items: []
    };
  },
  created() {
    this.pageChanged(1);
    this.axios
      .get("http://systemiod/zawiadomienia/suma")
      .then(response => {
        this.total = response.data;
      })
      .catch(error => {
        console.log(error.response.data);
      });
  },
  methods: {
    changeid(data) {
      this.modal_data = data;
      this.modal_show = !this.modal_show;
    },
    pageChanged(page) {
      this.loading = true;
      this.axios
        .get("http://systemiod/zawiadomienia?page=" + page)
        .then(response => {
          console.log(response);

          setTimeout(() => {
            this.items = response.data.data.data;
            this.pagination = response.data.pagination;
            this.loading = false;
          }, 500);
        })
        .catch(error => {
          console.log(error.response.data);
        });
      // Exec your response to server passing 'page' params as clicked button paging
    }
  },

  watch: {
    check: function(value) {
      this.fields.forEach(function(k) {
        if (k.variant) {
          if (k.variant == "show") {
            k.variant = "hide";
          } else {
            k.variant = "show";
          }
        }
      });
      this.topfields.forEach(function(k) {
        if (k.variant) {
          if (k.variant == "show") {
            k.variant = "hide";
          } else {
            k.variant = "show";
          }
        }
      });
    }
  },
  mounted() {
    for (var i = 0; i < 300; i++) {
      // this.items.push({
      //   lp: i + 1,
      //   inf0: this.$faker().company.companyName(),
      //   inf1: this.$faker().address.streetAddress() + ", " + this.$faker().address.zipCode() + " " + this.$faker().address.city(),
      //   inf2: this.$faker().random.number({
      //     min: 123456789,
      //     max: 987654321
      //   }),
      //   inf3: this.$faker().name.findName(),
      //   inf4: this.$faker().internet.email(),
      //   inf5: this.$faker().phone.phoneNumber('+48 ### ### ###'),
      //   inf6: ''
      // })
    }
  },

  components: {
    Search,
    Spinner,
    sortButtons,
    Pagination,
    Vuetable,
    VuetablePagination,
    Icon,
    Modal
  }
};
</script>
<style>
.push {
  margin-bottom: 20px;
}
</style>