<template>
<div>
    <div class="card-header" id="card-header">   
        <div class="no-padding">
            <div class="search-input">
                <div class="search-icon">
                    <icon name="search"></icon>
                </div>
                <input class="search" placeholder="SZUKAJ">
            </div>
            <b-btn v-b-toggle.collapseA class="btn-red"><icon name="filter"></icon> filtruj</b-btn>
            <b-btn v-b-toggle.collapseA class="btn-red btn-search"><icon name="caret-right"></icon> wyszukaj</b-btn>
  <div class="pagination noselect">
    <pagination :total="total" :page-size="pageSize" :callback="pageChanged" :options="paginationOptions" nav-class="padding-10" ul-class="bg-color-red" li-class="txt-color-blue">
    </pagination>
  </div>
</div>
</div>

  </div>

  

</template>

