<template>
<div>
    <div class="card-header" id="card-header">   
        <div class="no-padding">
         <b-btn v-b-toggle.collapseA class="btn-red btn-search"> statystyki tekstowe</b-btn>
            <b-btn v-b-toggle.collapseA class="btn-red"> Mapa Polski</b-btn>
            <b-btn v-b-toggle.collapseA class="btn-red"> Mapa Europy</b-btn>
        



</div>
</div>

<b-card no-body>
  <b-tabs pills card vertical>
    <b-tab title="Według sektorów" active>
     <mapa/>
    </b-tab>
    <b-tab title="Kreyterium drugie">
        <mapa/>
    </b-tab>
    <b-tab title="Kryterium trzecie">
     <mapa/>
    </b-tab>
    <b-tab title="Roczne podsumowanie">
     <mapa/>
    </b-tab>

  </b-tabs>
</b-card>


<!-- CSSMap - Poland -->

<!-- END OF THE CSSMap - Poland -->
  </div>

  

</template>
<script>
import Mapa from "../partials/mapa.vue";
export default {
	components: {
		Mapa
	}
}
</script>
