<template>
<footer id="footer">
    <div class="row">
        <div class="col-md-6">
     <!--    <img src="../assets/orzel.svg">  <h4>
        Ewidencja Inspektorów Ochrony Danych
        </h4> -->
           
    </div>
    <div class="col-md-6">
<h4>E-IOD - 0.4, ostatnia aktualizacja: 26.04.2018 r. 
	<!-- <a href="#">Lista zmian</a></h4>
 -->
</h4>
    </div>


</div>
</footer>
</template>
