<template>
<div class="card-block">

<kontakt/>

     <div class="table-responsive" style="overflow-x:scroll">
      <div class="whitetable">
      <b-table striped hover :fields="topfields">
 </b-table>
</div>
  <b-table striped 
           hover 
           :fields="fields" 
           :items="items"
           :current-page="currentPage"
           :per-page="perPage"
           >
    <template slot="inf17" slot-scope="row">
      
       <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button>

    </template>

    <template slot="lp" slot-scope="data">
     {{data.index + 1}}
    </template>

  </b-table>
     </div>
<p></p>
  <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />

    <p>
 

    <!-- Info modal -->
    <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
      <pre>{{ modalInfo.content }}</pre>
    </b-modal>

    </p>
  </div>




</div>
</template>
 <script>

import Kontakt from './dane_kontaktowe.vue'

const items = [
  { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
  { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
  { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
  { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
]
export default {
  props: {
    check: {
       type: Boolean,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1,
      modalInfo: { title: '', content: '' },
      perPage: 7,
            pageOptions: [ 5, 10, 15 ],
      totalRows: 12,
      topfields: [
       {   
          key: 'lp',
          label: ' ', 
          tdClass: 'dark',
          thClass: 'dark'
        },
        {   
          key: 'inf1',
          label: ' ', 
          variant: 'show'
        },
        { 
          key: 'inf2',
          label: ' ',
          variant: 'show'
        },
        { 
          key: 'inf3',
          label: 'art. 30 ust. 1 lit. a',
         thClass: 'require'
        },
        { 
          key: 'inf4',
          label: ' ',
          variant: 'show'
        },
        { 
          key: 'inf5',     
          label: ' ',
          variant: 'show'
        },
        { 
          key: 'inf6',
          label: 'art. 30 ust. 1 lit. c',
          thClass: 'require'
        },
        { 
          key: 'inf7',
          label: 'art. 30 ust. 1 lit. c',
          thClass: 'require'
        },
        { 
          key: 'inf8',
          label: 'art. 30 ust. 1 lit. b',
          thClass: 'require'
        },
        { 
          key: 'inf9',
          label: ' ',
          variant: 'show'
        },
        { 
          key: 'inf10',
          label: ' ',
          variant: 'show'
        },
        { 
          key: 'inf12',
          label: 'art. 30 ust. 1 lit. f',
          thClass: 'require'
        },
        { 
          key: 'inf13',
          label: 'art. 30 ust. 1 lit. d, <br>definicja odbiorcy - art. 4 pkt 9',
          thClass: 'require'
        },
        { 
          key: 'inf14',
          label: 'art. 30 ust. 1 lit. d',
          thClass: 'require'
        },
        { 
          key: 'inf15',
          label: 'art. 30 ust. 1 lit. e',
          thClass: 'require'
        },
        { 
          key: 'inf16',
          label: 'art. 30 ust. 1 lit. g, art. 32 ust. 1',
          thClass: 'require'
        },
        { 
          key: 'inf17',
          label: '  ',
          variant: 'show'
        },
        // { 
        //   key: 'inf18',
        //   label: ' ',
        //   thClass: 'actions'
        // },

      ],
      fields: [
              {   
          key: 'lp',
          label: 'Lp.', 
          tdClass: 'dark',
          thClass: 'dark'
        },
        {   
          key: 'inf1',
          label: 'Czynności przetwarzania', 
          variant: 'show'
        },
        { 
          key: 'inf2',
          label: 'Jednostka organizacyjna (Departament, Dział ipt.)',
          variant: 'show'
        },
        { 
          key: 'inf3',
          label: 'Nazwa i dane kontaktowe współadministratora <br><small>(jeśli dotyczy)</small>',
          thClass: 'require'
        },
        { 
          key: 'inf4',
          label: 'Nazwa i dane kontaktowe podmiotu przetwarzajacego <br><small>(jeśli dotyczy)</small>',
          variant: 'show'
        },
        { 
          key: 'inf5',     
          label: 'Nazwy systemów lub oprogramowania',
          variant: 'show'
        },
        { 
          key: 'inf6',
          label: 'Kategorie osób',
          thClass: 'require'
        },
        { 
          key: 'inf7',
          label: 'Kategorie danych',
          thClass: 'require'
        },
        { 
          key: 'inf8',
          label: 'Cel przetwarzania',
          thClass: 'require'
        },
        { 
          key: 'inf9',
          label: 'Podstawa prawna',
          variant: 'show'
        },
        { 
          key: 'inf10',
          label: 'Źrodło danych',
          variant: 'show'
        },
        { 
          key: 'inf11',
          label: 'Planowany termin usunięcia kategorii danych <br><small>(jeżeli jest to możliwe)</small>',
          thClass: 'require'
        },
        { 
          key: 'inf12',
          label: 'Kategorie odbiorców',
          thClass: 'require'
        },
        { 
          key: 'inf13',
          label: 'Nazwy państw trzecich  lub organizacji międzynarodowych do których dane są przekazywane',
          thClass: 'require'
        },
        { 
          key: 'inf14',
          label: ' Dokumentacja odpowiednich zabezpieczeń danych osobowych przekazywanych na podstawie art. 49 ust 1 <br><small>(nazwa dokumentu, załącznik lub link)</small>',
          thClass: 'require'
        },
        { 
          key: 'inf15',
          label: ' Ogólny opis technicznych i organizacyjnych srodków bezpieczeństwa <br><small>(jeżeli jest to możliwe)</small>',
          thClass: 'require'
        },
        { 
          key: 'inf16',
          label: 'Ocena skutków dla ochrony danych (DPIA) <br><small>(jeśli przeprowadzono - lokalizacja raportu), art. 49 ust 1</small>',
          variant: 'show'
        },
        // { 
        //   key: 'inf17',
        //   label: ' ',
        //   thClass: 'actions'
        // },

      ],

      items: [
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane dotyczące członków rodziny', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 2', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'<small>(nie dotyczy)</small>', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'Zewnętrzny podmiot rekrutujący "ABC"', 
          inf5:'System "BCA"', 
          inf6:'Wybrani kandydaci', 
          inf7:'Dane kontaktowe', 
          inf8:'Rekrutacja', 
          inf9:'Zgoda', 
          inf10:'Podmiot przetwarzający', 
          inf11:'Do zakończenia procesu rekrutacyjnego', 
          inf12:'<small>(nie dotyczy)</small>', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'Zewnętrzny podmiot rekrutujący "ABC"', 
          inf5:'System "BCA"', 
          inf6:'Wybrani kandydaci', 
          inf7:'Historia zatrudnienia', 
          inf8:'Rekrutacja', 
          inf9:'Zgoda', 
          inf10:'Podmiot przetwarzający', 
          inf11:'Do zakończenia procesu rekrutacyjnego', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        { inf1: 'Obsługa kadrowa pracowników', 
          inf2: 'Departament ds. Kadr, Dział ds. Finansów', 
          inf3: '<small>(nie dotyczy)</small>', 
          inf4:'<small>(nie dotyczy)</small>', 
          inf5:'System kadrowy "XYZ"', 
          inf6:'Pracownicy', 
          inf7:'Dane kontaktowe', 
          inf8:'Obsługa kadrowa', 
          inf9:'Umowa o pracę - Kodeks Pracy, art. 22<sup>1</sup> § 1', 
          inf10:'Osoba, której dane dotyczą', 
          inf11:'50 lat', 
          inf12:'Banki i firmy ubezpieczeniowe', 
          inf13:'<small>(nie dotyczy)</small>', 
          inf14:'<small>(nie dotyczy)</small>', 
          inf15:'komunikacja szyfrowana, szyfrowanie danych', 
          inf16:'<small>(nie dotyczy)</small>'
        },
        
      ]
    }
  },

  watch: {

        check: function (value) {
      this.fields.forEach(function(k) {
 
                 if (k.variant) {
            if (k.variant == 'show') {
              k.variant = 'hide'
            } else {
              k.variant = 'show'
            }
        }
   });
           this.topfields.forEach(function(k) {
 
                 if (k.variant) {
            if (k.variant == 'show') {
              k.variant = 'hide'
            } else {
              k.variant = 'show'
            }
        }
   });   
    }

  },
  components: {
    Kontakt
  },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Szczegóły czynności przetwarzania`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
   

  }
   
}
</script>
