<template>
<div id="navigation" :class="{ active: isActive}">
    <img src="../assets/orzel.svg">
        <h3>Urząd Ochrony<br>Danych Osobowych</h3>
    <h4>Ewidencja Inspektorów<br>Ochrony Danych</h4>

    <button @click="change($event)" id="hidepanel">
        <icon name="arrow-circle-right"></icon>
    
<span>Ukryj panel nawigacji</span>
</button>
<div class="content-nav">
    <div class="topic-list">
        <div class="routeline"></div>
        <ul>
        <li>
                <router-link :to="{ name: 'administratorzy' }" tag="a" active-class="active" exact>
                    <div class="icon"><icon name="user"></icon></div>
                    <span class="menutitle">Tabela wg administratorów</span>
                </router-link>
                <router-link :to="{ name: 'inspektorzy' }" tag="a" active-class="active">
                    <div class="icon"><icon name="user-secret"></icon></div>
                    <span class="menutitle">Tabela wg inspektorów<br><small>Grupy przedsiębiorstw</small></span>
                </router-link>
                <router-link :to="{ name: 'bledy' }" tag="a" active-class="active">
                    <div class="icon"><icon name="exclamation-triangle"></icon></div>
                    <span class="menutitle">Błędy</span>
                </router-link>
                <router-link :to="{ name: 'statystyki' }" tag="a" active-class="active">
                    <div class="icon"><icon name="info-circle"></icon></div>
                    <span class="menutitle">Statystyki</span>
                </router-link>
<!--                 <router-link  :to="{ name: 'logi' }" tag="a" active-class="active">
                    <div class="icon"><icon name="database"></icon></div>
                    <span class="menutitle">Logi</span>
                </router-link> -->
                <router-link :to="{ name: 'about' }" tag="a" active-class="active">
                    <div class="icon"><icon name="question-circle"></icon></div>
                    <span class="menutitle">Podręcznik użytkownika</span>
                </router-link>
        </li>
        </ul>
<!--         <div class="todos">
            { e-iod: wersja testowa }<br>

            TO DO:<br>
            <ul>
                <li>
                    - wyszukiwarki,
                </li>
                <li>
                    - sektory,
                </li>
                <li>
                    - grupy przedsiębiorstw
                </li>
            </ul>
        </div> -->
        </div>
        
    </div>
        
    </div>
    
    </template>
<script>

import {TimelineLite} from "gsap";
import Icon from 'vue-awesome/components/Icon'

export default {
    data: function() {
        return {
            isActive: true,
            data:''
        };
    },
    components: {
        Icon
    },
    methods: {
        change(event) {
            this.isActive = !this.isActive;
            var body = document.getElementById("body");
       
            var top = document.getElementById("top");
            var span = document.getElementsByClassName("menutitle");         
            var icon = document.getElementsByClassName("icon");        
            var wt = event.target.parentElement;
            var tl = new TimelineLite();




            if (this.status == 'false') {

                tl
                    .to(top, .35, { css: { paddingLeft: "210px" } }, 0)
           
                    .to(body, .35, { css: { paddingLeft: "190px" } }, 0)
         
                    .to(span, .35, { css: { opacity: "1" } }, 0)
                    .to(icon, .35, { css: { left: "8px" } }, 0)
                    .to(wt, .35, { right: 0, x: 0 }, 0);
                this.status = 'true';
            } else {
                tl
                   
                    .to(top, .5, { css: { paddingLeft: "60px" } }, 0)
                    .to(body, .5, { css: { paddingLeft: "40px" } }, 0)
              
                    .to(span, .5, { css: { opacity: "0" } }, 0)
                    .to(icon, .5, { css: { left: "160px" } }, 0)
                    .to(wt, .5, {  x: -150 }, 0);

                this.status = 'false'

            }
        }
    }
}
</script>