<template>

	<div class="sort-buttons">
<icon name="sort-amount-asc"></icon><icon name="sort-amount-desc"></icon>
</div>

</template>
<script>
	import Icon from 'vue-awesome/components/Icon'
export default {

	data() {
		return {

		}
	},
	components: {
		Icon
	}
}
</script>