<template>
     <div class="form-group">
        <label>
        {{ label }}
    	</label>
        <p><small class="text-muted">
        {{ description }}</small></p>
        
        <textarea v-model="data" placeholder="" class="form-control" rows="3">{{ model }}</textarea>
        
    </div>
</template>
<script>

export default {
  data: function() {
        return {
          data: this.model
        }
    },
    props: {
        label: 0,
        description: '',
        model: '',
        field: ''
  },
  methods: {
    updateField(field, value) {
 
      this.$store.commit('updateData', {field, value});
    },
  },
  watch: {
      data: function (newData) {

      this.updateField(this.field, newData);
    }
  },
}

</script>

