<template>

 
	<div class="top" id="top">

<img src="../assets/logo.png">EWIDENCJA INSPEKTORÓW OCHRONY DANYCH (E-IOD)

<a href="/logout" class="logout">
	<icon name="sign-out"></icon>
	<div class="name sum">wyloguj</div>
	<div class="desc">Michał Mazur</div>
</a>

<div class="smallstats">
	<div><icon name="users"></icon>
		<div class="sum">{{ suma }}</div>
		<div class="desc">Podmiotów w bazie</div>
	</div>
</div>


</div>
</template>

<script>
import Icon from 'vue-awesome/components/Icon'
export default {
	data: function() {
		return {
			suma: 0
		}
	},
	components: {
		Icon
	},

	mounted() {
		this.axios.get('http://systemiod/zawiadomienia/suma')
			.then(response => {
				console.log(this.suma)
				console.log(response)
				this.suma = new Intl.NumberFormat().format(response.data);
			})
			.catch(error => {
				console.log(error.response.data);
			});


	},
}
</script>

<style>
.smallstats {
	float:right;
}

.smallstats div {
	float:left;
	margin-right:15px;
}

.btn-sm, .btn-group-sm > .btn {
	border-radius:0px;
}
.top img {
	max-height:28px;
	padding:0px 10px 0px 0px;
	float:left;
}
.top {
position: fixed;
background: #AB1E22;
color: #fff;
top: 0;
line-height: 27px;
z-index: 1;
font-weight: 600;
right: 0;
font-size: 13px;
height: 41px;
padding: 5px 10px 5px 210px;
width:100%;
}

.top .smallstats {
	width:190px;
}
.top .logout {
	width:115px;
	float:right;
}
.top .smallstats svg, .top .logout svg {
float: left;
height: 26px;
margin-top: 0px;
width: 40px;
}

.top .sum {
display: block;
	font-size:15px;
clear: right;
line-height: 16px;
}

.top .desc {
	margin-right:0px;
display: block;
font-size: 10px;
font-weight:400;
text-transform: uppercase;
line-height: 13px;
}
.top .logout .sum {
	text-transform:uppercase;
	font-size:13px;
	line-height:17px;
}
</style>