 
body > div > footer {
background: #333;
width: 100%;
position:fixed;
bottom:0;
color: #000;
padding: .4em 1.1em;
font-family: 'Roboto', sans-serif;
text-align: right;
left: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

footer h4 {
color: #fff;
width: 100%;
font-size:11px;
line-height: .1em;
padding-top: 7px;
}
footer a {
  color: #e9b234;
font-weight: bold;
font-size: 11px;

}
footer a:hover {
      color:#e9b234;
    text-decoration: none;
}

p.card-text {
font-size:.9em;
}

.card {
    overflow:hidden;
    font-family: 'Roboto', sans-serif;
font-size: 100%;
line-height: 150%;
border-radius: 0.0rem;
}
.card .table th, .card .table td {
    padding: 0.25rem 0.75rem;
vertical-align: top;

font-size: 13px;
}
.card .table th div {
    float:left;
    margin-right:5px;
} 
.card .table .sort-buttons {
    float:left;
}
.card .table tr {
    cursor:pointer;
}


#navigation {
background: #424040;
display: block;
position: fixed;
z-index: 999;
left: 0;
top: 0;
bottom: 0;
width: 190px;
color: #fff;
}
.table {
    margin-bottom:0;
}
.table th svg {
    height:13px;
}
#navigation img {
    width:70px;
    margin:15px auto;
    display:block;
}

.fluid {
    background:#fff;
}
h2 svg {
    color:#f1c40f;
  width:20px;
  margin-top:5px;
  height:30px;

}
h2 {
font-family: 'Roboto', serif;
color: #AB1E22;
float: left;
padding: 0px 20px;
font-weight: bold;
line-height: 42px;
margin-bottom: 0;
font-size: 14px;
}
#navigation ul {
    padding-left:0;
}

#navigation ul li a {
    display:block;
    color:#fff;
    text-decoration: none;
    padding:10px 4px 10px 35px;
    font-size:12px;
    border-bottom:1px solid #8C0D11;
}
#navigation ul li a:hover {
 background:#8C0D11;   
}
#navigation ul li a .icon {
       position: absolute;
   left:8px;
   width:20px;
   text-align:center;
   transition: all 300ms ease;
    margin-right:10px;
}
#navigation ul li a svg {

    height:15px;
    margin-top:1px;
}
#navigation h4 {
    font-size:.75em;
    text-align:center;
    opacity: 0;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
}
#navigation h3 {
    font-size:.85em;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: all 0.3s;
-webkit-transition: all 0.3s;
}
#navigation.active h3, #navigation.active h4 {
    opacity:1;
}
.content-nav {
    background:#AB1E22;
    height:100%;
    position:relative;
    font-family: 'Roboto', sans-serif;
    margin-top:-1px;
}
#navigation li {
    position:relative;
    display: table;
    padding: 0px;
    width: 100%;
}




#hidepanel:focus {
    outline:none;
} 
#hidepanel {
    width:100%;
        font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size:0.7rem;
    position:relative;
    text-align:right;
    color:#666;
    border:none;
    padding:5px 15px;
    margin-top: 10px;
    cursor: pointer;
}
#hidepanel span {
    float:left;
    line-height:2.2em;
}
#hidepanel svg {
right: 0px;
top: 9px;
font-size: 2em;
position: absolute;
    margin:0px 13px 0px 17px;
        transition: all 0.3s;
-webkit-transition: all 0.3s;
      -webkit-transform: rotate(0deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(0deg);        /* FF */
  -o-transform: rotate(0deg);          /* Opera */
  -ms-transform: rotate(0deg);         /* IE9 */
  transform: rotate(0deg);             /* W3C compliant browsers */
    
}

#navigation.active #hidepanel svg {
          -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);             /* W3C compliant browsers */
}

.list-group h5{
font-size:1.0em;
}

.list-group p {
    font-size:.77em;
    line-height:1.2em;
}

#body {
    padding-left:190px;
}

.card-header:first-child {
border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
display: block;
width: 100%;
background: #fff;
z-index: 99;
left: 0;
padding-left: 0px;
}

.card-header {
    padding:0em;
    position:relative;
    border-bottom:0;
    -webkit-box-shadow: 0 0 5px rgba(96,125,139,0.45);
-moz-box-shadow: 0 0 5px rgba(96,125,139,0.45);
box-shadow: 0 0 5px rgba(96,125,139,0.45);
}

.card-header.examples {
         padding:1em 1em 1em 1em;
         background:#fff;
         min-height: 15px;
}
 

.card img {
  max-width:100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.nomargin {
    margin: 0 !important;
}
.noborder {
    border:0 !important;
}

#previous-next {
    width:100%;
    text-align:center;
    margin-bottom: 40px;
    margin-top: 30px;
}

#previous-next a {
    transform: scale(1.5);
    margin:20px 50px;
    width:160px;
}
#previous-next a:focus {
    color:#fff;
}
#top-next-prev {
    display:block;
    width:100%;
    position: relative;
    height: 45px;
}
#top-next-prev .next {
    float:right;
}
.download-template li {
    display:block;
    width:100%;
    line-height:2em;
}
.download-template i {
       line-height:1.6em;
}
.download-template a {
    padding:9px 10px;
    font-weight:bold;
    color:#333;

}

.card-bg a:hover {
    color:#fff;
}

/* -- common -- */
.vodal,
.vodal-mask {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.vodal {
    position: fixed;
}

.vodal-mask {
    position: absolute;
    background: rgba(0, 0, 0, .3);
}

.vodal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.vodal-close {
    position: absolute;
    cursor: pointer;
    top: 16px;
    right: 16px;
    width: 16px;
    height: 16px;
}

.vodal-close:before,
.vodal-close:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #999;
    border-radius: 100%;
    -webkit-transition: background .2s;
    transition: background .2s;
}

.vodal-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.vodal-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.vodal-close:hover:before,
.vodal-close:hover:after {
    background: #333;
}

/* -- fade -- */
@-webkit-keyframes vodal-fade-enter {
    from {
        opacity: 0;
    }
}

@keyframes vodal-fade-enter {
    from {
        opacity: 0;
    }
}

.vodal-fade-enter-active {
    -webkit-animation: vodal-fade-enter both ease-in;
    animation: vodal-fade-enter both ease-in;
}

@-webkit-keyframes vodal-fade-leave {
    to {
        opacity: 0
    }
}

@keyframes vodal-fade-leave {
    to {
        opacity: 0
    }
}

.vodal-fade-leave-active {
    -webkit-animation: vodal-fade-leave both ease-out;
    animation: vodal-fade-leave both ease-out;
}

.download-template ul {
    margin-bottom:0;
}

.rect {
    width:40px;
    margin:0px 10px 0px 0px;
    height:30px;
    float:left;
 
}

.rect.niski {
    background:rgba(102, 204, 0, 0.3);
}

.rect.sredni {
       background:rgb(30, 171, 32, 0.3);

}
.rect.wysoki {
    background:rgba(255, 215, 20, 0.4);
}

.rect.krytyczny {
    background:rgba(171, 30, 34, 0.4);
}

.table .badge {
    margin-right: 5px;
font-size: 100%;
cursor: pointer;
}


/*p .btn {
    background:transparent;
    color:inherit;
    font-weight:inherit;
    border:none;
padding: 0 5px;
line-height: inherit;
font-size: inherit;
vertical-align: inherit;
border-bottom: dashed 1px;
cursor: pointer;
}*/

.no-padding {
    padding:0px !important;
}

label {
    font-weight:bold;
}

.bg-faded {
background: #f7f7f9;
}


.topic-holder a {

display: block;
padding: 5px 5px 5px 50px;
}
.topic-holder a:hover {
    text-decoration:none;
   background:#8C0D11;
}
a.active {
    background:#8C0D11;
}



.form-group .table p {
padding: 0;
margin-bottom: 5px;
margin-top: -10px;
line-height: 1.1em;
}

 
/* baza wiedzy */


.baza-wiedzy .card-header{
    background:#AB1E22 !important;
    padding:1.3em !important;
    color:#fff;
}
.baza-wiedzy h3 svg {
    float:left;
}
.baza-wiedzy h3 p {
float:left;
color:#fff;
    line-height:1.3em;
    padding-top:0;
    font-weight:600;
    padding-left:10px;
    font-size:.6em;
clear:none;
margin-bottom:0;
}



.baza-wiedzy h3 {
clear:both;

}

.baza-wiedzy p {
    clear:both;
    color:#E18B8E;
    font-size:.8em;
}


.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: .5;
    background: #C8EBFB;
}

.list-group {
    min-height: 20px;
}

.list-group-item {
    cursor: move;
    position: relative;
    display: block;
    padding: 0.5rem 1.5rem;
    margin-bottom: -1px;
    background-color: #fff;
    font-size: .9em;
}

.list-group-item i {
    cursor: pointer;
}


.css-checkbox input + span {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #ddd;

    transition: background-color .2s;
}

.css-checkbox input + span::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 10px;
    color: #fff;
    line-height: 18px;
    content: "\F00C" !important;
    text-align: center;
}

.css-input input + span::after {
    position: absolute;
    content: "";
}

.css-input input + span {
    position: relative;
    display: inline-block;
    margin-top: -2px;
    margin-right: 3px;
    vertical-align: middle;
}

input[type="checkbox"], input[type="radio"] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.css-checkbox-primary input:checked + span {
    background-color: #AB1E22;
    border-color: #8C0D11;
}

.css-input input {
    position: absolute;
    opacity: 0;
}

.form-check p {
line-height: 1.1em;
padding-left: 6px !important;
margin-top: -1px !important;
}


.questions  {
    padding-right:25px;
margin-top:20px;
counter-reset: item;
list-style-type: none;
list-style-position: inside;
padding-left: 0;
}
.questions li{
position: relative;   
padding-left: 35px;
}
.questions li:before{
font-size: 1em;
line-height: 25px;
vertical-align: middle;
width: 25px;
color:#fff;
font-weight:bold;
text-align: center;
height: 25px;
content: counter(item) "  "; 
counter-increment: item;
position: absolute;
left: 0;
background:#424040;
}

.questions li > .form-group > label {
    font-size:110%;
    color:#424040;
    margin-bottom:15px;
}
.top .btn-secondary {
    background:none;
            padding:10px 15px !important;
    border:none;
    cursor:pointer;
    border-color:#C65F63;
    border-radius:0px;
    font-weight:600;
    font-size:14px;
    line-height:1.4em !important;
}
.btn-secondary {

}

.btn-secondary:hover {
    background:#8C0D11;
}

.btn-secondary:focus {
    otline:none;
    box-shadow:none;
}

.no-radius {
    border-radius:0px !important;
}
.no-border {
    border:0px !important;
}
.no-border-left {
    border-left:0px !important;
}


/* rejestr czynności */
th.line-numbers {
    min-width:45px !important;
    width:40px;
}
th {
  
 
    line-height:1.4em;
    background:#424040;
    border-color:#5c5959 !important;
    color:#fff;
    vertical-align: middle !important;
}

th.require {
    background:#AB1E22;
}

td {
    vertical-align: middle !important;
    font-size:95%;
    line-height:1.5em;
}

.dark {
    background:#424040;
    color:#fff;
    font-weight:bold;
    border-color:#5c5959 !important;
    width:40px;
    text-align:center;
}
th.actions, td.actions {
    width:100px;
     min-width:100px !important;
}
.whitetable {
	margin-top:20px;
}
.whitetable th {
background:rgb(87, 87, 87);
border:none;
color:#fff;
font-size:.8em;
}

.card-header .form-check {
    margin-top:22px;
}
.maintable th:first-child {
    width:40px !important;
    min-width:40px;
    border-bottom: 1px solid #dee2e6 !important;
}

 

ol {
    list-style-type: none;
    padding-left:0;
}


/* logowanie */

.logout {
    color:#fff;
}
.logout:hover {
    color:#fff;
    text-decoration:none;
}

body {
    background: #eee; 
    padding-top:41px;
     color: #222931;
}

.wrapper {  
    margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);  

  .form-signin-heading,
    .checkbox {
      margin-bottom: 30px;
    }

    .checkbox {
      font-weight: normal;
    }

    .form-control {
      position: relative;
      font-size: 16px;
      height: auto;
      padding: 10px;
        @include box-sizing(border-box);

        &:focus {
          z-index: 2;
        }
    }

    input[type="text"] {
      margin-bottom: -1px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    input[type="password"] {
      margin-bottom: 20px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
}


.btn-sm, .btn-group-sm > .btn:first-child {
    border-top-left-radius:0.2rem !important;
    border-bottom-left-radius:0.2rem !important;
}
.btn-sm, .btn-group-sm > .btn:last-child {
    border-top-right-radius:0.2rem !important;
    border-bottom-right-radius:0.2rem !important;
}

.btn-sm, .btn-group-sm > .btn {
    font-size: 0.4rem;
    line-height: 1.5;
}

.modal-lg {
    max-width:1200px;
}


/* modal */

.modal-content header {
    background: #AB1E22;
color: #fff;
border-bottom:0;

border-radius: 0px;
}
.modal-content h5 {
    font-size:1em;
}
.modal-content header button {
    color:#fff;
    opacity:1;
}
.modal-content .grey {
 background:#eee;
 padding:15px 0px;
}

.modal-administrator {
    background:rgb(87, 87, 87) none repeat scroll 0% 0%;
    color:#fff;
  padding:10px 15px;
  line-height:2.3em;
}

 .modal-administrator .float-right {
    margin-left:10px;
    position:relative;
 }
.modal-administrator .btn-red {
    background:#ab1e22 !important;
}
 .modal-administrator .btn-red:hover {
    background:#991317;
 }

.modal-administrator .has-count {
    padding-right:33px;
}
.modal-inspektor {
    background:#424040;
    color:#fff;
      padding:10px 15px;
        line-height:2.3em;
}
.modal-inspektor .btn {
background:rgb(87, 87, 87) none repeat scroll 0% 0%;
}

.modal-body {
    padding-left:.96rem;
    padding-right:.96rem;
    padding-top:0px;
    font-size:85%;
    padding-bottom:0px;
}

.modal-body h6 {
    line-height:1.8em;
    font-size:1.2em;
}

.modal-body textarea {
    margin-right: 11px;
    width:100%;
-webkit-transition: all 0.3s;
transition: all 0.3s;
background: #eceff1;
float: left;

color: #424040;
border:1px solid #ccc;
padding: 5px 10px;


font-size: 13px;
margin:0;
border-bottom: 1px solid #eceff1
}

.regon-area {
    font-size: 90%;
}
.regon-area label {
margin-bottom:0px;
}

.modal-body .red-bold {
    color:red;
    font-weight:bold;
}

.modal-administrator .btn-dark {
    margin-bottom:0 !important;
}

 .btn-dark {
 margin-top: 0px;
background: #424040;
color: #fff;
font-size: 12px;
padding: 6px 15px;
margin-bottom: 13px;
 }

 .modal-body td {
    font-size:100%;
 }

 .modal-content {
   max-height: calc(100vh - 3.75rem);
   overflow-y:auto;
 }
 body.modal-open, #modallg {
    overflow-y:hidden !important;
 }


 .search {
margin-right: 11px;
-webkit-transition: all 0.3s;
transition: all 0.3s;
background: #eceff1;
float: left;
width: 400px;
color: #424040;
border: none;
padding: 10.5px 8px;
padding-left: 8px;
font-size: 13px;
padding-left: 52px;
border-bottom: 1px solid #ccc;
-webkit-box-shadow: 0 1px 0 0 #eceff1;
box-shadow: 0 1px 0 0 #eceff1;
 }

 .search-icon {
    background: transparent;
    float: left;
    height: 100%;
    padding: 15px 6px 6px 23px;
    position: absolute;
 }

 .search-icon svg {
    color:#aaa;
 }

 .search:focus {
    border-bottom: 1px solid #AB1E22 !important;
box-shadow: 0 1px 0 0 #AB1E22;
 }
 


 .card-header button {
    color:#455a64;
    margin:9px 5px;
    background:#ddd;
    border:none;
    font-weight:500;
    font-size:11px;
    text-transform: uppercase;
    border-radius:3px;
 }
.card-header button:first-of-type svg {
    height:15px;
    float:left;
    margin-right:10px;
}

.card-header svg {

    float:left;
    margin-right:10px;
}

 .card-header button svg {
    color:#AB1E22;

 }

 .card-header button:hover {
    background:#AB1E22;
 }

  .card-header button:hover svg {
    color:#fff;

 }

 .card-header button.btn-search {
     color:#fff;
    margin:8px 5px;
       background:#AB1E22;
    border:none;
    font-weight:500;
    font-size:11px;
    text-transform: uppercase;
    border-radius:3px;
 }

  .card-header button.btn-search svg {
    color:#fff;

 }

 /* pagination */
 .pagination {
    float:right;
    margin:3px 7px;
 }

 .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #AB1E22;
    border-color: #AB1E22;
}

.page-link {
    color: #AB1E22;
    padding: 0.3rem 0.75rem;
}

.page-link:hover {
    color: #AB1E22;
}

.page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(180, 127, 136, 0.3);
}

.card .table tr.search-inputs div {
    width:100%;
}
.card .table tr.search-inputs th {
   border-bottom:none;
    background:#e6e6e6;
    padding:8px;
}

.card .table tr.search-inputs input {
background: #eceff1;
border: 1px solid #ccc;
border-radius: 3px;
padding: 8px 15px;
width: calc(100% - 60px);
float: left;
margin-right: 0;
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}
.card .table tr.search-inputs button {
       float: left;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.col-form-label svg {
    color:#fff;
float:left;
margin-top:2px;
margin-right:5px;
height:13px; 
}

.pelnomocnictwo {
margin-bottom:0;

}
.table.notes tbody {
    display: block;
    height: calc(100vh - 604px);
    overflow: scroll;
    overflow-x: hidden;
}

.table.history tbody {
    display: block;
    height: calc(100vh - 504px);
    overflow: auto;
    overflow-x: hidden;
}

.table.history thead, .table.history tbody tr, .table.notes thead, .table.notes tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table.history td, .table.history th {
    width:12%;
}

.table.history td:nth-child(3), .table.history th:nth-child(3) {
    width:18%;
}

.table.history td:nth-child(4), .table.history th:nth-child(4),
.table.history td:nth-child(5), .table.history th:nth-child(5)
 {
    width:24%;
}

.table.notes td, .table.notes th {
    width:20%;
}

.table.notes td:nth-child(3), .table.notes th:nth-child(3) {
    width:60%;
}


.theme-red .vdatetime-popup__header,
.theme-red .vdatetime-calendar__month__day--selected > span > span,
.theme-red .vdatetime-calendar__month__day--selected:hover > span > span {
  background: #AB1E22;
}

.theme-red input {
display: block;
width: 100%;
padding: 0.375rem 0.75rem;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: 0.25rem;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.theme-red .vdatetime-year-picker__item--selected,
.theme-red .vdatetime-time-picker__item--selected,
.theme-red .vdatetime-popup__actions__button {
  color: #AB1E22;
}


.btn-ezd {
    padding:7px 5px;
    line-height:12px;
    margin-bottom:0;
}

.btn .count {
    float:right;
    background:#f1c40f;
    color:#333;
    font-weight:bold;
    width:18px;
    line-height:18px;
    height:18px;
    position:absolute;
    top:6px;
    right:8px;
    border-radius:50%;
}


.maintable thead, .maintable tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.maintable tbody {
    display: block;
    height: calc(100vh - 226px);
    overflow: auto;
        overflow-x: auto;
    overflow-x: hidden;
}


.inspektor_odwolany {
    background:#AB1E22;
    color:#fff;
    padding:3px;
    text-align:center;
    width:30px;
    height:30px;
    border-radius:50%;
    float:left;
}

