<template>
<div>

<app-menu/>
<div class="card no-border" id="body">
<app-top></app-top>
    <transition name="slide">
        <router-view
        ></router-view>
    </transition>
</div>

    <foot/>
</div>
</template>
<script>
import Top from './partials/Top.vue'
import Menu from './partials/Menu.vue'
import Foot from './partials/footer.vue'

export default {
    data: function() {
        return {
            req: false,
            pagename: ''
        };
    },
    components: {
        'app-top': Top,
        Foot,
        'app-menu': Menu,
    },
}
</script>
<style>
.slide-enter-active {
    transition: all .2s;
    -webkit-transition-delay: .2s;
    /* Safari */
    transition-delay: .2s;
}

.slide-leave-active {
    transition: all .2s;
}

.slide-enter,
.slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    transform: translateX(0%);
    opacity: 0;
}


.fade-enter-active {
    transition: all .2s;
    -webkit-transition-delay: .2s;
    /* Safari */
    transition-delay: .2s;
}

.fade-leave-active {
    transition: all .2s;
}

.fade-enter,
.fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */

{
    opacity: 0;
}


.btn.rotate {
    font-weight:600;
    text-transform:uppercase;
    font-size:.9em;
 }
 .rotate svg{
     transform: rotate(-90deg);
     max-height:18px;
     float:left;
     margin-left: -4px;
 }
 .btn-red {
  
    background:#AB1E22;
    color:#fff;
 }


 .top-btn {
    margin-top:0px;
    margin-bottom:8px;
    font-size:10px !important;
    padding:5px 8px;
 }

 .top-btn svg {
    max-height: 14px;
 }

</style>